<div class="col-md-10 col-md-offset-1" id="errors">
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= message %>
        </div>
    <% end %>
</div>
